html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.next-time h2{
  color:#009999;
}


.next-time h1{
  color:black;
}

.routes{
  color:gray;
}
